<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>Cart</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
    
<body align="center">
    <br> <br>
    <h1 class="text-primary text-center mx-auto">Cart</h1>

    <form action="#" method="post" name="login">

        <table class="table table-bordered">
            <thead>
                <tr class="table-primary">
                    <th class="w-25 text-center">Item Name</th>
                    <th class="w-25 text-center">Quantity (qty)</th>
                    <th class="w-25 text-center">Cost per item</th>
                    <th class="w-25 text-center">Actions</th>
                </tr>
            </thead>
            <tbody id="dynamicTable">
                <!-- Table rows will be added here -->
            </tbody>
        </table>

        <div class="form-group" id = "promocode">
            <input type="text" class="form-control" name="promocode" id="promocode" placeholder="Enter Promo code if any?"><br>
        </div>

        <div class="form-group" id = "address">

            <input type="text" class="form-control" name="address1" id="address1" placeholder="Address line 1"><br>

            <input type="text" class="form-control" name="address2" id="address2" placeholder="Address line 2"><br>

            <input type="text" class="form-control" name="address3" id="address3" placeholder="city"><br>

            <input type="text" class="form-control" name="address4" id="address4" placeholder="state"><br>

            <input type="text" class="form-control" name="address5" id="address5" placeholder="pincode"><br>
        </div>
        
        <div class="col-md-3 text-center mx-auto">
            <button type="button" class="btn btn-danger align-self-center" id="removeAll">Flush Cart</button>
            <button type="submit" class="btn btn-primary align-self-center" id="getFinalCost">Get Final Cost</button>
        </div>
    </form>
    <br> <br>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const dynamicTable = document.getElementById('dynamicTable');
            const addRowButton = document.getElementById('addRow');
            let rowCounter = 0;


            var cartDetails = <%- JSON.stringify(cartDetails) %>;
            cart_row_reference = [];
            for (const itemData of cartDetails) {
                rowCounter++;
                const newRow = document.createElement('tr');
                newRow.innerHTML = `
                    <td class="w-25">
                        <label for="item${rowCounter}">${itemData.name}</label>
                    </td>
                    <td class="w-25">
                        <input type="number" class="form-control" name="qty${rowCounter}" value="${itemData.quantity}" min="1">
                    </td>
                    <td class="w-25 text-center">
                        <label for="item${rowCounter}">${itemData.price}</label>
                    </td>
                    <td class="w-25">
                        <button type="button" style="width: 100%" class="btn btn-danger btn-block" onclick="removeRow(this)">Remove Item</button>
                    </td>
                `;
                dynamicTable.appendChild(newRow);
            }
        });

        document.getElementById('removeAll').addEventListener('click', () => {
            // Remove all rows from the table
            const dynamicTable = document.getElementById('dynamicTable');
            const address = document.getElementById('address');
            const promocode = document.getElementById('promocode');
            dynamicTable.innerHTML = '';
            address.innerHTML = '';
            promocode.innerHTML = '';

            //send ajax post request to flush
            var xhttp = new XMLHttpRequest();
            xhttp.open("POST", "/cart/flush", true);
            xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xhttp.send();
        });

        function removeRow(button) {
            // Get the parent row and remove it
            var cartDetails = <%- JSON.stringify(cartDetails) %>;
            console.log(cartDetails);
            const row = button.parentElement.parentElement;
            row.remove();

            //send ajax post request to remove item
            console.log(row);

            //get item number from row from substring after 4th character of for attribute of label
            var itemNumber = row.getElementsByTagName("label")[0].getAttribute("for").substring(4);
            //convert item number to integer
            itemNumber = parseInt(itemNumber);
            console.log(itemNumber);

            //get listing id cartdetails[itemNumber-1].listing_id
            var listingId = cartDetails[itemNumber-1].listingId;
            console.log(cartDetails[itemNumber-1]);
            console.log(listingId);
            

            // send ajax post request to remove item with listing_id
            var xhttp = new XMLHttpRequest();
            xhttp.open("POST", "/cart/remove-itemlisting", true);
            xhttp.setRequestHeader("Content-type", "text/plain");

            
            xhttp.send(`${listingId}`);

            //remove item from cartDetails
        }

        //checkout button
        document.getElementById('getFinalCost').addEventListener('click', () => {
            //get all rows from the table
            const dynamicTable = document.getElementById('dynamicTable');
            const rows = dynamicTable.getElementsByTagName("tr");
            console.log(rows);

            //get all addresses
            const address = document.getElementById('address');
            const address1 = address.getElementsByTagName("input")[0].value;
            const address2 = address.getElementsByTagName("input")[1].value;
            const address3 = address.getElementsByTagName("input")[2].value;
            const address4 = address.getElementsByTagName("input")[3].value;
            const address5 = address.getElementsByTagName("input")[4].value;
            console.log(address1);
            console.log(address2);
            console.log(address3);
            console.log(address4);
            console.log(address5);

            //get promocode
            const promocode = document.getElementById('promocode');
            const promocode1 = promocode.getElementsByTagName("input")[0].value;
            console.log(promocode1);

            //get all quantities
            var quantities = [];
            for (var i = 0; i < rows.length; i++) {
                var row = rows[i];
                var quantity = row.getElementsByTagName("input")[0].value;
                quantities.push(quantity);
            }
            console.log(quantities);

            //get all listing ids
            var listingIds = [];
            for (var i = 0; i < rows.length; i++) {
                var row = rows[i];
                var listingId = row.getElementsByTagName("label")[0].getAttribute("for").substring(4);
                listingIds.push(listingId);
            }
            console.log(listingIds);

            //send ajax post request to checkout
            var xhttp = new XMLHttpRequest();
            xhttp.open("POST", "/fetch-cart-display", true);
            xhttp.setRequestHeader("Content-type", "application/json");
            xhttp.send(JSON.stringify({listing_ids: listingIds, quantities: quantities, address1: address1, address2: address2, address3: address3, address4: address4, address5: address5, promocode: promocode1}));
        });
    </script>

</body>
</html>
