<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>Cart</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
    
<body align="center">
    <br> <br>
    <h1 class="text-primary text-center mx-auto">Cart</h1>

    <form action="/cart/get-final-cost" name="login">

        <table class="table table-bordered" id="cartItemsTable">
            <thead>
                <tr class="table-primary">
                    <th class="w-25 text-center">Item Name</th>
                    <th class="w-25 text-center">Quantity (qty)</th>
                    <th class="w-25 text-center">Cost per item</th>
                    <th class="w-25 text-center">Actions</th>
                </tr>
            </thead>
            <tbody id="dynamicTable">
                <!-- Table rows will be added here -->
            </tbody>
        </table>

        <div class="container">
            <div class="row justify-content-center">
              <div class="col-md-6">
                <div class="form-group" id = "promocode">
                    <input type="text" class="form-control" name="promocode" id="promocode" placeholder="Enter Promo code if any?" onchange="checkpromocode(this.value)">
                </div>
                <div id="hiddenElement" style="display: none;"></div><br>
                <div class="form-group" id="address">
                  <input type="text" class="form-control" name="address1" id="address1" placeholder="Address line 1" required><br>
                  <input type="text" class="form-control" name="address2" id="address2" placeholder="Address line 2"><br>
                  
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <input type="text" class="form-control" name="city" id="city" placeholder="City" required><br>
                    </div>
                    <div class="form-group col-md-6">
                      <input type="text" class="form-control" name="state" id="state" placeholder="State" required><br>
                    </div>
                  </div>
                  
                  <input type="text" class="form-control" name="pincode" id="pincode" placeholder="Pincode" required><br>
                </div>
                
                <div class="col-md-12 text-center" id="btn">
                  <button type="button" class="btn btn-danger align-self-center" id="removeAll">Flush Cart</button>
                  <button type="submit" class="btn btn-primary align-self-center" id="getFinalCost">Get Final Cost</button>
                </div>
              </div>
            </div>
          </div>
    </form>
    <br> <br>
    <script>
        var cartDetails;
        var cartDetailsLength;
        
        document.addEventListener('DOMContentLoaded', function() {
            event.preventDefault();
			fetch('/cart/fetch-cart')
			.then(response => response.json())
			.then(data => {
                console.log("data");
				if (data) {
					// console.log(".....",data);
                    cartDetails = data['cartDetails'];
                    // console.log(typeof data['cartDetails']);
                    const dynamicTable = document.getElementById('dynamicTable');
                    const addRowButton = document.getElementById('addRow');
                    const cartItemsTable = document.getElementById('cartItemsTable');
                    const promocode = document.getElementById('promocode');
                    const address = document.getElementById('address');
                    const btn = document.getElementById('btn');
                    let rowCounter = 0;

                    cartDetailsLength = cartDetails.reduce((count, value) => {
                        return count + (value === null ? 0 : 1);
                    }, 0);

                    if (cartDetails.length == 0)
                    {
                        cartItemsTable.style.display = 'none';
                        promocode.style.display = 'none';
                        address.style.display = 'none';
                        dynamicTable.style.display = 'none';
                        btn.style.display = 'none';
                        var dynamicContent = "Empty Cart! Please make sure to add items to proceed further!!!";
                        // hiddenElement.innerHTML = dynamicContent;
                        // hiddenElement.style.color = "red";
                        // hiddenElement.style.fontSize = "20px";
                        // hiddenElement.style.display = "flex";
                        // hiddenElement.style.alignItems = "center";
                        // hiddenElement.style.justifyContent = "center";
                        alert(dynamicContent);
                        window.location.href = "/item-listing";
                        // window.alert(dynamicContent);
                    }

                    else
                    {
                        cart_row_reference = [];
                        for (const itemData of cartDetails) {
                            rowCounter++;
                            const newRow = document.createElement('tr');
                            newRow.innerHTML = `
                                <td class="w-25">
                                    <label for="item${rowCounter}">${itemData.name}</label>
                                </td>
                                <td class="w-25">
                                    <input type="number" class="form-control" name="qty${rowCounter}" value="${itemData.quantity}" min="1" onchange="updateqty(${rowCounter}, this.value)">
                                </td>
                                <td class="w-25 text-center">
                                    <label for="item${rowCounter}">${itemData.price}</label>
                                </td>
                                <td class="w-25">
                                    <button type="button" style="width: 100%" class="btn btn-danger btn-block" onclick="removeRow(this)">Remove Item</button>
                                </td>
                            `;
                            dynamicTable.appendChild(newRow);
                        }
                    }
				}
			})
		});

        document.getElementById('removeAll').addEventListener('click', () => {
            // Remove all rows from the table
            const dynamicTable = document.getElementById('dynamicTable');
            const cartItemsTable = document.getElementById('cartItemsTable');
            const address = document.getElementById('address');
            const promocode = document.getElementById('promocode');
            const btn = document.getElementById('btn');
            dynamicTable.innerHTML = '';
            cartItemsTable.innerHTML = '';
            address.innerHTML = '';
            promocode.innerHTML = '';
            btn.innerHTML = '';
            var dynamicContent = "Empty Cart! Please make sure to add items to proceed further!!!";
            
            // hiddenElement.innerHTML = dynamicContent;
            // hiddenElement.style.color = "red";
            // hiddenElement.style.fontSize = "20px";
            // hiddenElement.style.display = "flex";
            // hiddenElement.style.alignItems = "center";
            // hiddenElement.style.justifyContent = "center";
            alert(dynamicContent);
            window.location.href = "/item-listing";

            //send ajax post request to flush
            var xhttp = new XMLHttpRequest();
            xhttp.open("POST", "/cart/flush", true);
            xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xhttp.send();
        });

        function checkpromocode(promocode)
        {
            console.log(promocode);
            var xhttp = new XMLHttpRequest();
            xhttp.open("POST", "/cart/check-promo-code", true);
            xhttp.setRequestHeader("Content-type", "application/json");

            var data = JSON.stringify({ "promocode": promocode});
            
            xhttp.onreadystatechange = function () {
                var hiddenElement = document.getElementById("hiddenElement");
                var response = this.responseText;
                console.log(response);
                
                if (xhttp.readyState == 4) {
                // Check if the request was successful (status code 200)
                    if (xhttp.status == 200) {
                        // Parse the response JSON if applicable
                        var jsonResponse = xhttp.responseText;
                        var dynamicContent = "PROMOCODE found, Hurray!!!!";
                        hiddenElement.innerHTML = dynamicContent;
                        hiddenElement.style.display = "block";
                        alert(response);
                    } else {
                        // Handle the error or non-200 status code here
                        var dynamicContent = "PROMOCODE not found, Sorry!!!";
                        hiddenElement.innerHTML = dynamicContent;
                        hiddenElement.style.display = "block";
                        alert(response);
                    }
                }
            };

            xhttp.send(data);
        }
        
        
        function updateqty(row, qty) {
            //send ajax post request to remove item

            //get item number from row from substring after 4th character of for attribute of label
            var itemNumber = row;
            //convert item number to integer
            itemNumber = parseInt(itemNumber);
            // console.log(itemNumber);
            // console.log(qty);

            //get listing id cartdetails[itemNumber-1].listing_id
            var listingId = cartDetails[itemNumber-1].listingId;

            console.log(listingId);

            // send ajax post request to remove item with listing_id
            var xhttp = new XMLHttpRequest();
            xhttp.open("POST", "/cart/update-itemlisting", true);
            xhttp.setRequestHeader("Content-type", "application/json");

            var data = JSON.stringify({ "listingId": listingId , "updateCount": qty });
            
            xhttp.send(data);

            //remove item from cartDetails
        }

        function removeRow(button) {
            // Get the parent row and remove it
            const cartItemsTable = document.getElementById('cartItemsTable');
            const promocode = document.getElementById('promocode');
            const address = document.getElementById('address');
            const dynamicTable = document.getElementById('dynamicTable');
            const btn = document.getElementById('btn');
            
            var row = button.parentElement.parentElement;
            row.remove();

            // console.log(row.getElementsByTagName("label")[0].getAttribute("for"));

            //send ajax post request to remove item

            //get item number from row from substring after 4th character of for attribute of label
            var itemNumber = row.getElementsByTagName("label")[0].getAttribute("for").substring(4);
            //convert item number to integer
            itemNumber = parseInt(itemNumber);

            console.log(itemNumber, cartDetails);
            // console.log(cartDetails);

            //get listing id cartdetails[itemNumber-1].listing_id
            var listingId = cartDetails[itemNumber-1].listingId;
            
            // console.log(listingId);
            cartDetails[itemNumber-1] = null;

            let countNull = cartDetails.reduce((count, value) => {
                return count + (value === null ? 1 : 0);
            }, 0);
            
            console.log(itemNumber,cartDetailsLength, countNull, cartDetails);

            if (cartDetailsLength == countNull)
            {
                cartItemsTable.style.display = 'none';
                promocode.style.display = 'none';
                address.style.display = 'none';
                dynamicTable.style.display = 'none';
                btn.style.display = 'none';
                var dynamicContent = "Empty Cart! Please make sure to add items to proceed further!!!";
                // hiddenElement.innerHTML = dynamicContent;
                // hiddenElement.style.color = "red";
                // hiddenElement.style.fontSize = "20px";
                // hiddenElement.style.display = "flex";
                // hiddenElement.style.alignItems = "center";
                // hiddenElement.style.justifyContent = "center";
                alert(dynamicContent);
                window.location.href = "/item-listing";
                // window.alert(dynamicContent);
            }
            

            // send ajax post request to remove item with listing_id
            var xhttp = new XMLHttpRequest();
            xhttp.open("POST", "/cart/remove-itemlisting", true);
            xhttp.setRequestHeader("Content-type", "application/json");

            var data = JSON.stringify({ "listingId": listingId });

            
            xhttp.send(data);

            

            //remove item from cartDetails
        }

        /*
        //checkout button
        document.getElementById('getFinalCost').addEventListener('click', () => {
            //get all rows from the table
            const dynamicTable = document.getElementById('dynamicTable');
            const rows = dynamicTable.getElementsByTagName("tr");
            console.log(1)

            //get all addresses
            const address = document.getElementById('address');
            const address1 = address.getElementsByTagName("input")[0].value;
            const address2 = address.getElementsByTagName("input")[1].value;
            const address3 = address.getElementsByTagName("input")[2].value;
            const address4 = address.getElementsByTagName("input")[3].value;
            const address5 = address.getElementsByTagName("input")[4].value;
            console.log(address1);
            console.log(address2);
            console.log(address3);
            console.log(address4);
            console.log(address5);

            console.log(2)

            //get promocode
            const promocode = document.getElementById('promocode');
            const promocode1 = promocode.getElementsByTagName("input")[0].value;
            console.log('3'+ promocode1);

            //get all quantities
            var quantities = [];
            for (var i = 0; i < rows.length; i++) {
                var row = rows[i];
                var quantity = row.getElementsByTagName("input")[0].value;
                quantities.push(quantity);
            }
            console.log('4' + quantities);

            //get all listing ids
            var listingIds = [];
            for (var i = 0; i < rows.length; i++) {
                var row = rows[i];
                var listingId = row.getElementsByTagName("label")[0].getAttribute("for").substring(4);
                listingIds.push(listingId);
            }
            console.log('5' + listingIds);

            //send ajax post request to checkout
            var xhttp = new XMLHttpRequest();
            xhttp.open("POST", "/cart/get-final-cost", true);
            xhttp.setRequestHeader("Content-type", "application/json");
            xhttp.send(JSON.stringify({listing_ids: listingIds, quantities: quantities, address1: address1, address2: address2, address3: address3, address4: address4, address5: address5, promoCode: promocode1}));
        });*/
    </script>

</body>
</html>