<!DOCTYPE html>
<html>
    <head>
        <meta charset="ISO-8859-1">
        <title>CheckOut</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    </head>
<body align="center">
    <br> <br>
    <h1 class="text-primary text-center mx-auto">CheckOut Items</h1>
    
    <table class="table table-bordered">
        <thead>
            <tr class="table-primary">
                <th class="text-center">Item Name</th>
                <th class="text-center">Quantity (qty)</th>
                <th class="text-center">Cost / Qty</th>
                <th class="text-center">Total Cost</th>
            </tr>
        </thead>
        <tbody>
            <% itemsArray.forEach((item, index) => { %>
                <tr>
                    <td><%= item.item %></td>
                    <td class="text-center"><%= item.qty %></td>
                    <td class="text-center"><%= item.cost_qty %></td>
                    <td class="text-center"><%= item.cost_item %></td>
                </tr>
            <% }); %>
            <tr>
                <td colspan="3" class="text-center" style="font-weight: bold;">Total Cost (Excluding Tax)</td>
                <td class="text-center" style="font-weight: bold;">Total Cost</td>
            </tr>
            <tr>
                <td colspan="3" class="text-center" style="font-weight: bold;">Sales Tax</td>
                <td class="text-center" style="font-weight: bold;">Sales Tax</td>
            </tr>
            <tr class="table-active">
                <td colspan="3" class="text-center" style="font-weight: bold;">Total Cost (Including Tax)</td>
                <td class="text-center" style="font-weight: bold;">Total Cost</td>
            </tr>
        </tbody>
    </table>
</body>
</html>
