<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recover Password</title>
</head>
<body>
    <% if (locals.message) { %>
        <p style="color: red;" class="error"><%= locals.message %><p>
      <% } %>
    <h1>Recover Password</h1>
    <form action="/users/send-otp" method="POST">
        <label for="email"> Email</label>
        <input type="email" name="emailId", id="emailId" required>
        <br>
        <input type="submit" value="submit"> 
    </form>
</body>
</html>