<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

    <title>User Comments</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
        .scrollable-table {
            max-height: 300px;
            overflow-y: auto;
        }
        .rating-stars {
            unicode-bidi: bidi-override;
            direction: rtl;
        }
        .rating-stars > span {
            display: inline-block;
            position: relative;
            width: 1em;
        }
        .rating-stars > span:hover:before,
        .rating-stars > span:hover ~ span:before,
        .rating-stars > span:hover:after {
            content: "\2605";
            position: absolute;
        }
        .rating-stars > span:hover:before {
            content: "\2605";
            color: gold;
        }
        .rating-stars > span:hover ~ span:before {
            content: "\2605";
            color: grey;
        }
    </style>
</head>
<body>
    <h1>User Comments</h1>
    <div class="scrollable-table">
        <table>
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Comment</th>
                    <th>Rating</th>
                </tr>
            </thead>
            <tbody>
                <% if (comments && comments.length > 0) { %>
                    <% comments.forEach(function(comment, index) { %>
                        <tr>
                            <td><%= comment.username %></td>
                            <td><%= comment.comment %></td>
                            <td>
                                <div class="rating-stars">
                                    <% for (let i = 0; i < comment.rating; i++) { %>
                                        <span>&#x2606;</span>
                                    <% } %>
                                    <% for (let i = comment.rating; i < 5; i++) { %>
                                        <span>&#x2605;</span>
                                    <% } %>
                                </div>
                            </td>
                        </tr>
                    <% }); %>
                <% } else { %>
                    <tr>
                        <td colspan="3">No comments available.</td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
    <div>
        <form id="PostReview" name="PostReview" method="POST" action="/review">
            <div class="col-md-3 align-self-center mx-auto">
                <label for="commentbox" class="form-label text-left">Add Comment: </label>
                <input type="text" class="form-control text-left" id="commentval" name="commentval" required>
            </div>
            <div class="col-md-3 text-center mx-auto">
                <button type="submit" id="submit_button" class="btn btn-primary align-self-center">Submit</button>
            </div>
        </form>
    </div>


    <div>
        <% if (typeof ind_comment.review_id !== 'undefined') { %>
            <form id="DeleteReview" name="DeleteReview" method="POST" action="/review/<%= ind_comment.review_id %>">
                <input type="hidden" name="_method" value="DELETE">
                <div class="col-md-3 align-self-center mx-auto">
                    <label for="commentbox" class="form-label text-left">Your Review: </label>
                    <p id="commentval" name="commentval"><%= ind_comment.comment %></p> 
                </div>
                <div class="col-md-3 text-center mx-auto">
                    <button type="submit" id="submit_button" class="btn btn-primary align-self-center">Delete</button>
                </div>
            </form>
        <% } else { %>
            <!-- This part will be displayed if ind_comment.review_id is undefined -->
            <p>No Comments from your End</p>
        <% } %>
        
    </div>
</body>
</html>
