<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- displays site properly based on user's device -->

  <link rel="icon" type="image/png" sizes="32x32" href="./landing_page/images/favicon-32x32.png">
  
  <!-- Font Used -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400&display=swap" rel="stylesheet">
  <!-- End of Font Used -->

  <!--- CSS link -->
  <link rel="stylesheet" href="landing_page/app/scss/style.css">
  
  <title>Scarlet Electronics | landing page</title>

  <!-- Feel free to remove these styles or customise in your own stylesheet 👍 -->
  <style>
    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
  </style>
</head>

<body>

  <header class = "header">
    <div class="overlay has-fade"></div>

    <!-- Nav Bar -->
    <nav class="container flex flex-ai-c flex-jc-sb">
      <a href="/landing_page" class="header__logo">  <!-- Logo Image -->
        <img src="images/logo_med.svg" alt="scarletElectronics" 
        >
      </a>

      <!-- Mobile end Hamburger Menu -->
      <a id="btnHamburger" class="header__toggle hide-for-desktop " >
        <span></span>
        <span></span>
        <span></span>
      </a>

      <!-- PC end nav bar subject to change -->
      <div class="header__links hide-for-mobile">
        <a href="#">Home</a>
        <a href="#">Catalogue</a>
        <a href="#">Deals</a>
        <a href="#">Services</a>
      </div>

      <div class="header__cart hide-for-mobile hearder__cart__btn flex flex-jc-c flex-ai-c"> 
        <button href="#" class="hearder__cart__btn flex flex-jc-c flex-ai-c"><img class="header__cart__icon" src="images/cart.png" alt="shopping cart"></button>
      </div>

      <a href="#" class="button header__cta hide-for-mobile">Register/ Login</a>

    </nav>
    <!-- End of Nav Bar -->

    <div class="header__menu has-fade hide-for-desktop">
      <!-- Hamburger menu for small viewport -->
      <a href="#">Home</a>
      <a href="#">Catalogue</a>
      <a href="#">Deals</a>
      <a href="#">Services</a>
      <a href="#">Register</a>
    </div>

  </header>


  <section class="search">
    <!--search bar -->
    <div class="search__bin flex flex-jc-c flex-ai-c">
      <form action="" class="search__bar flex flex-jc-c flex-ai-c">
        <input class="search__input" type="text" placeholder="Search our catalogue!" name="q">
        <button class="search__button flex flex-jc-c flex-ai-c" type="submit"><img class="search__icon" src="images/search.png" alt="search"></button> 
      </form>
    </div>
  </section>

  <section class="hero"> 
    <!-- Image Slider -->
    <div class="hero__slider">
      <div class="hero__slider__slides flex flex-jc-c flex-ai-c">
        <div class="hero__slider__slideBin"><img id="slide1" src="images/electronics5.webp" alt="general electronics stock photo" style="width: 30rem; height: 20rem;"></div>
        <div class="hero__slider__slideBin"><img id="slide2" src="images/electronics2.jpg" alt="device stock photo" style="width: 30rem; height: 20rem;">  <!--Image by <a href="https://www.freepik.com/free-photo/modern-stationary-collection-arrangement_23441437.htm#query=electronic%20product&position=1&from_view=keyword&track=ais">Freepik</a>--></div>
        <div class="hero__slider__slideBin"><img id="slide3" src="images/electronics3.jpg" alt="balk Friday sale info" style="width: 30rem; height: 20rem;">  <!----></div>
        <div class="hero__slider__slideBin"><img id="slide4" src="images/electronics4.jpg" alt="we sell house appliances too!" style="width: 30rem; height: 20rem;">  <!--<a href="https://www.freepik.com/free-vector/household-appliances-realistic-composition_21253197.htm#query=house%20appliances&position=0&from_view=search&track=ais">Image by macrovector</a> on Freepik--></div>
      </div>
        
      <div class="hero__slider__nav flex">
        <a href="#slide1"></a>
        <a href="#slide2"></a>
        <a href="#slide3"></a>
        <a href="#slide4"></a>
      </div>
    </div>
    <!--End of Image Slider -->

    <div class="hero__text">
      <h2>Welcome to Scarlet Electronics</h2>
      <p style="color: red;">Red Hot, Quality Electronics Guaranteed!</p>
    </div>
  </section>

  <!--JS link -->
  <script src="/app/js/script.js"></script>
</body>

<footer class="footer">
  <div class="footer__text">
    <p> Get the latest Updates from Us!</p>
  </div>
  <div class="footer__social">
      <a href="#"><img class="icon" id="icon1" src="landing_page/images/icon-twitter.svg" alt="twitter"></button> 
      <a href="#"><img class="icon" id="icon2" src="landing_page/images/icon-youtube.svg" alt="youtube"></button> 
      <a href="#"><img class="icon" id="icon3" src="landing_page/images/icon-instagram.svg" alt="instagram"></button> 
      <a href="#"><img class="icon" id="icon4" src="landing_page/images/icon-facebook.svg" alt="facebook"></button> 
      <a href="#"><img class="icon" id="icon5" src="landing_page/images/icon-pinterest.svg" alt="pinterest"></button> 
  </div>

  <hr>
  
  <div class="footer__disclaimer">
    <p> A course project by Group 12 for [332:567] Software Engineering</p>
    <p id="rights">Rutgers University, All rights preserved. 2023 Fall</p>
  </div>

</footer>
</html>