<!-- <!DOCTYPE html>

<html>
    <body> Hello </body>
</html> -->
<!DOCTYPE html>

<html>

<head>
    <meta charset="ISO-8859-1">
    <title>Auction System Sign Up</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.css">
</head>

<body>

    <!-- NOTE: The server-side conditionals were removed. You might want to include the relevant headers based on which one would typically be displayed. -->
    <!-- Example: Including the header for 'EndUser' -->
    <!-- (You can replace this with other header content as needed) -->
    <!-- Include Content of "Common/header.jsp" here -->

    <div align="center">
        <br> <br>
        <h1 class="text-primary text-center mx-auto">Welcome to the Auction Portal</h1>
        <br> <br><br>
        <h2 class="text-center">SignUp/Login Form</h2>

        <form action="/users/login" method="post" name="login">
            <div class="col-md-3 align-self-center mx-auto">
                <label for="exampleInputEmail1" class="form-label text-left">Email address</label>
                <input type="email" class="form-control text-left" id="emailId" name="emailId" required>
            </div>
            <br>
            <div class="col-md-3 align-self-center mx-auto">
                <label for="exampleInputPassword1" class="form-label text-left">Password</label>
                <input type="password" class="form-control text-left" id="password" name="password" required>
            </div>
            <p class="small"><a class="text-primary" href="/users/forgot-password">Forgot password?</a></p>

            <div class="col-md-3 text-center mx-auto">
                <button type="submit" class="btn btn-primary align-self-center">Log In</button>
                <a class="btn btn-outline-success align-self-center" href="/users/register" role="button">Sign Up</a>
            </div>
        </form>
        <br> <br>
    </div>

    <!-- Include Content of "Common/footer.jsp" here -->

    <script src="loginFormValidation.js"></script>
</body>

</html>