<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTP Validation</title>
</head>
<body>
    <h1>OTP Validation</h1>
    <form action="/users/recover-password" method="POST">
        Please check you <%= locals.emailId%> for the OTP.
        <br> 
        <input type="text" name="OTP_val" id="OTP_val">
        <input type="hidden" name = "emailId" value= <%= locals.emailId%>>
        <br>
        <input type="submit" value="Verfiy OTP">
        
    </form>
</body>
</html>