<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>Purchase History</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>

<body align="center">
<br> <br>
<h1 class="text-primary text-center mx-auto">Purchase History</h1>
<div>
    <ul class="nav">
        <li class="nav-item">
            <form action="/item-listing/listings" method="get">
                <button type="submit" class="btn btn-primary">
                    Home
                </button>
            </form>
        </li>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <li class="nav-item">
            <form action="/users/profile" method="get">
                <button type="submit" class="btn btn-primary">
                    Go Back to Profile Page
                </button>
            </form>
        </li>
    </ul>
</div>
<form action="/users/view-order" method="get" name="orderDetailsForm" style="display: none;">
    <input type="hidden" id="orderIdInput" name="orderId">
</form>

<table class="table table-bordered">
    <thead>
    <tr class="table-primary">
        <th class="w-15 text-center">Item Name</th>
        <th class="w-15 text-center">Purchase Date</th>
        <th class="w-15 text-center">Shipment ID</th>
        <th class="w-15 text-center">Payment ID</th>
        <th class="w-15 text-center">Quantity (qty)</th>
        <th class="w-15 text-center">Cost</th>
        <th class="w-15 text-center">Actions</th>
    </tr>
    </thead>
    <tbody id="dynamicTable">
    <!-- Table rows will be added here -->
    </tbody>
</table>

<br> <br>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const dynamicTable = document.getElementById('dynamicTable');
        let rowCounter = 0;
        var order_details = <%- JSON.stringify(order)  %>;

        for (const itemData of order_details) {
            rowCounter++;
            let content;
            const newRow = document.createElement('tr');

            // if (itemData.return_status === 'not requested') {
            //     content = `<button type="button" class="btn btn-danger btn-block" onclick="returnOrder(this)">Return Item</button>`;
            // } else if (itemData.return_status === 'Return Requested') {
            //     content = `<div class="text-success">Return requested and in process</div><button type="button" class="btn btn-danger btn-block" onclick="cancelReturn(this)">Cancel Item Return</button>`;
            // }

            newRow.innerHTML = `
                <input type="hidden" id="orderIdInput${rowCounter}" value="${itemData.orderId}">
                <td class="w-15 text-center">
                    <label>${itemData.name}</label>
                </td>
                <td class="w-15 text-center">
                    <label>${itemData.purchase_date}</label>
                </td>
                <td class="w-15 text-center">
                    <label>${itemData.shipmentId}</label>
                </td>
                <td class="w-15 text-center">
                    <label>${itemData.paymentId}</label>
                </td>
                <td class="w-15 text-center" >
                    <label>${itemData.quantity}</label>
                </td>
                <td class="w-15 text-center">
                    <label>${itemData.total_cost_of_item}</label>
                </td>
                <td class="w-15 text-center">
                    <button type="button" class="btn btn-primary btn-block" onclick="viewOrderDetails(${rowCounter})">View Order Details</button>
                </td>
            `;

            dynamicTable.appendChild(newRow);
        }
    });

    function viewOrderDetails(rowCounter) {
        const orderId = document.getElementById(`orderIdInput${rowCounter}`).value;
        document.getElementById('orderIdInput').value = orderId;
        document.forms['orderDetailsForm'].submit();
    }

    // function returnOrder(button) {
    //     const listingId = button.parentElement.parentElement.children[0].value;
    //     const xhr = new XMLHttpRequest();
    //     xhr.open('POST', '/users/return-order', true);
    //     xhr.setRequestHeader('Content-Type', 'application/json');
    //     const data = JSON.stringify({ listingId: listingId });
    //
    //     xhr.onreadystatechange = function () {
    //         if (xhr.readyState == 4 && xhr.status == 200) {
    //             console.log(xhr.responseText);
    //             window.location.reload();
    //         }
    //     };
    //
    //     xhr.send(data);
    // }
    //
    // function cancelReturn(button) {
    //     const listingId = button.parentElement.parentElement.children[0].value;
    //     const xhr = new XMLHttpRequest();
    //     xhr.open('POST', '/users/cancel-return', true);
    //     xhr.setRequestHeader('Content-Type', 'application/json');
    //     const data = JSON.stringify({ listingId: listingId });
    //
    //     xhr.onreadystatechange = function () {
    //         if (xhr.readyState == 4 && xhr.status == 200) {
    //             console.log(xhr.responseText);
    //             window.location.reload();
    //         }
    //     };
    //
    //     xhr.send(data);
    // }
</script>

</body>
</html>
