.hero {
    margin: 0;
    padding: 2rem;
    background: $creamWhite;


    &__slider {
        min-width: 30rem;
        background: $jasper;
        padding-top: .5rem;
        padding-bottom: .3rem;
        margin: 0 0;
        overflow-x: hidden;
        
        &__slides {
            box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
            & img {
                flex: 1 0 100%;
                scroll-snap-align: start;
                object-fit: cover;
            }
        }

        &__nav {
            column-gap: 1rem;
            bottom: 1.25rem;
            left: 50%;
            transform: translateX(-50%);
            z-index: 1;

            & a {
                width: 0.75rem;
                height: 0.75rem;
                border-radius: 50%;
                border: 2px solid $brandRed;
                background: $brandWhite;
                cursor: pointer;
                opacity: 0.8;
                transition: 250ms ease-in-out;

                &:hover{
                    background: $brandRed;
                }

            }
        }
    }


    &__text {
        font-weight: 700;
        text-align: center;
    }

//     @-webkit-keyframes slide_animation{
//         0% {left:30rem}
//         10% 
//     }
}


