$jasper: #CD4631;
$brandRed: #cc1d00;
$darkRed: #b31900;
$brandBlack: #18191a;
$offBlack: #242526;
$brandWhite: #f5f5f5;
$creamWhite: #fffaf1;
$white: #FFFFFF;
$lightGrey: #949494;

// font sizes
$font-med: 1.125rem;  // 18px
$font-sml: 0.875rem;  // 14px




