<!-- <link rel="stylesheet" href="../public/landing_page/app/scss/style.css"> -->

<div class="footer__container">
  <div class= "footer__wrapper">
  </div>
  
  <footer class="footer">
    <br><br>
    <div class="footer__text">
      <p> Get the Latest Updates from Us!</p>
    </div>
    <div class="footer__social">
        <a href="#"><img class="icon" id="icon1" src="../public/landing_page/images/icon-twitter.svg" alt="twitter"></button> 
        <a href="#"><img class="icon" id="icon2" src="../public/landing_page/images/icon-youtube.svg" alt="youtube"></button> 
        <a href="#"><img class="icon" id="icon3" src="../public/landing_page/images/icon-instagram.svg" alt="instagram"></button> 
        <a href="#"><img class="icon" id="icon4" src="../public/landing_page/images/icon-facebook.svg" alt="facebook"></button> 
        <a href="#"><img class="icon" id="icon5" src="../public/landing_page/images/icon-pinterest.svg" alt="pinterest"></button> 
    </div>

    <hr>
    
    <div class="footer__disclaimer">
      <p> A course project by Group 12 for [332:567] Software Engineering I</p>
      <p id="rights">Rutgers University, All Rights Preserved. 2023 Fall</p>
    </div>
  </footer>